@charset "UTF-8";

/*
        Paleta de cores
    Vinho: #8c234a
    Vinho Escuro: #59273a
    Vinho Muito Escuro: #261b21
    Ciano Escuro: #306773
    Ciano: #5ebfb5
*/

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  background-color: #59273a;
  height: 100vh;
  width: 100vw;
}
main {
  position: relative;
  height: 100vh;
  width: 100vw;
}
section#login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  background-color: #5ebfb5;
  width: 250px;
  height: 500px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);
}
section#login > div#imagem {
  display: block;
  background: #59273a url(../imagens/cyberpunk.jpg) no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 200px;
}
section#login > div#formulario {
  display: block;
  padding: 10px;
}
